#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

input {
  margin: 10px 0;
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 6px;
  width: fit-content;
}

.skillgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
}

.toolgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;}

.card {
  flex: 1 0 200px;
  border: 1px solid #ccc;
  padding: 1rem;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.card.expanded {
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  z-index: 1;
  position: relative;
}

.card h3 {
  margin-top: 0;
  font-size: 1.1em;
}

.good {
  border-left: 5px solid #42b983;
}

.mid {
  border-left: 5px solid yellowgreen;
}

.begin{
  border-left: 5px solid rgb(202, 141, 9);
}

h3 {
  margin: 40px 0 0;
  text-align: left;
}

ul {
  list-style-type:circle;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding: 0;
}

li {
  margin: 0 10px;
  display: flex;
  justify-content: space-around;
}

.collapsebtn{
  height: fit-content;
  border-radius: 50%;
}

.title > button, .project-header > button {
  margin-top: 20px;
}

.title, .project-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.project, .category {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  border: 2px dotted black;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}